Write a code to create a string with your name and print it

In [2]:
name = "Jaidali Shaikh"
print(name)

Jaidali Shaikh

In [3]:
string = "Hello World"
print(len(string))

11

Write a code to find the length of the string "Hello World"

Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
string = "Python Programming"
print(string[:3])

Pyt

Write a code to convert the string "hello" to uppercase

In [5]:
string = "hello"
print(string.upper())

HELLO

Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

Write a code to create a list with numbers 1 to 5 and print it

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Write a code to append the number 10 to the list [1, 2, 3, 4]

In [8]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [9]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [10]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [12]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [13]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [14]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [16]:
my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [17]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [18]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [19]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [20]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [21]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [22]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [23]:
my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [24]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [25]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}